@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import "Home";
@import "loader";
@import "item";
@import "searchButton";

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    // background-color: #eef0f2;
}
