$color-primary: #317fcc;
$color-white: #eaeaea;
$color-orange: #e87437;
$color-green: #008e33;

$extra-large: 7rem;
$large: 2rem;
$extra-medium: 1.75rem;
$medium: 1.5rem;
$small: 1.25rem;
$extra-small: 1rem;

.App {
  text-align: center;
}

.App-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
}

.title {
  font-size: $extra-large;
  font-weight: bold;
  color: $color-primary;
  margin-top: 5rem;
}

.form {
  width: 40%;
  // height: 10rem;
  margin-left: 30%;

  display: flex;
  align-items: center;
  justify-content: center;

  input {
    text-align: center;
    border: none;
    border-bottom: 2px solid $color-primary;
    font-size: $large;
  }

  input:focus {
    outline: none;
  }
}