// color
$color-primary: #277BC0;
$color-white: #eaeaea;
$color-orange: #FFB200;
$color-orange2: #FFCB42;
$color-orange3: #FFF4CF;
$color-green: #008e33;

//font size
$extra-large: 7rem;
$large: 2rem;
$extra-medium: 1.75rem;
$medium: 1.5rem;
$small: 1.25rem;
$extra-small: 1rem;

.App {
  // text-align: center;
}

.App-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
}

.title {
  font-size: $extra-large;
  font-weight: bold;
  color: $color-primary;
  margin-top: 5rem;
  text-align: center;
}

.langBtn {
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
}

.language-Btn {
  display: flex;
  justify-content: end;
  text-align: center;
  margin-top: 2rem;
  margin-right: 2rem;
}

.form {
  align-self: center;
  margin-left: 5%;

  display: flex;
  align-items: center;
  justify-content: center;


  input {
    text-align: center;
    border: none;
    border-bottom: 2px solid $color-primary;
    font-size: $large;
  }

  input:focus {
    outline: none;
  }

  .row {
    display: flex;
    flex-direction: row;
  }
}
