.item {
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    // flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .item-title {
        font-weight: bold;
        font-size: $large;
        color: $color-primary;
        padding-left: 3rem;
        padding-right: 4rem;
        margin-top: 2rem;
    }

    .item-description {
        font-size: $small;
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 6rem;
        padding-bottom: 3rem;
    }

    .item-largeimage {
        width: 42.4rem;
        height: 20rem;
    }

    .item-listimage > div:nth-child(3) {
        margin-top: 0.2rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .item-smallimage {
        width: 14rem;
        height: 10rem;
        
    }

    .item-tag {
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 3rem;
        // margin-right: 10rem;
    }

    .small-font {
        font-size: $extra-small;
    }
  }




